* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica" , sans-serif;

}


.heading {
    text-align: center;
    margin-top: 15px;
}

body {
    background-image: url("images/back.jpg");
    background-repeat: none;
    background-size: cover;
}

.box {
    padding: 15px;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    margin-top: 200px;

    border-radius: 5px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.form-row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 4px;
}

.form-row input{
    margin-left: 8px;
}

.radio-form {
    padding: 20px;
    border: none;
    margin-bottom: 20px;

    
}

.radio-start {
    margin-left: 120px;
}



button {
    margin-top: 10px;
    width: 80px;
    background-color: #1DA1F2;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: 200px;
    border: none;
    cursor: pointer;
    font-family: "Helvetica" , sans-serif;
}

.bbtn{
    background-color: rgb(255, 255, 255);   
    padding: 4px;
    border-radius: 5px;
}

.gbtn {
    width: 200px;
    margin-left: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.button:hover{
    background-color: #4266ad;
}


a{
    text-align: center;
    text-decoration: none;
    color: #1DA1F2;
}

a:hover {
    color: #FF4500;
}

input[type='radio'] {
    margin: 10px;
    padding: 4px;
    
}

input[type='checkbox'] {

    margin-bottom: 10px auto;
    padding: 4px;
}

input[type='text'] , input[type="email"] {
    margin: auto;
    border-radius: 20px;
    padding: 4px 20px;
    border: 2px solid #1DA1F2;
    width: 250px;
    background-color: #fff;
    box-shadow: none;
    color: rgb(7, 7, 4);
    
}

input[type="text"]:focus {
    outline: none;
}

input[type="email"]:focus {
    outline: none;
}

label {
    margin: auto;   
}

.para {
    text-align: center;
    margin: 25px;
}

hr{
    color: #1DA1F2;
    background-color: #1DA1F2;
}

.button-link {
    background-color: #1DA1F2;
    color: black;
    width: 75px;
}

.header-banner {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.973);

}

.banner-container {
    display: flex;
    justify-content: space-between;
 
    padding: 25px;
}

.banner-container ul {
    display: flex;

}

.banner-container ul li{
 
    margin: 4px;
}

.page{
    width: 960px;
    margin: auto;
    border: 2px solid rgb(58, 216, 18);
    height: 350px;
}

.sidebar{
    width: 300px;
    border: 2px solid red;
    height: 350px;
}

.flex-box{
    display: flex;
    overflow: hidden;
}

.banner-bottom{
    border: 2px solid white;
    height:10px;
}

.banner-option {
    display: flex;
    justify-content: flex-end;
    
}

.fas {
    color: rgb(199, 199, 199);
    margin-top: 4px;
    margin-left: 18px;
    margin-right: 18px;
    cursor: pointer;
    padding: 10px;
}

.fas:hover {
    background-color: rgba(199, 199, 199, 0.192);
    
}

ul{
    list-style: none;
}

.search{
    position: relative;

    margin-top: 30px;
   margin: auto;
}

.search input{
    background-color: rgba(48, 45, 45, 0.651);
    padding-left: 50px;
    width: 600px;
    height: 40px;
    border: 2px solid #1da0f271;
}

.fa-search{
    position: absolute;
    padding-top: 8px;
}

.search input:hover{
    background-color: rgba(8, 8, 8, 0.192);
    border : 2px solid #1DA1F2;
}